*{
    background-color: rgb(255, 128, 0);
    font-family: Tahoma sans-serif;
}

h1{
    font-size: 100px;
    text-align: center;
    border-bottom: 5px red;
    color: red;
    border-bottom: red double 20px ;
    margin:  100px 150px 70px 150px ;
}
.Item{
    color: black;
    font-size: 50px;
    font-weight: 900;
    margin: 25px 5px 45px 120px ;
    display: block;
}
.optional{
  display: block;
    margin: 5px;
}
span{
    font-size: 30px;
}
.border{
    border: 5px solid rgb(255, 255, 138);  
    padding-bottom: 320px;
    
}