*{
    background-color: rgb(255, 128, 0);
    font-family: Tahoma sans-serif;
}

h1{
    font-size: 70px;
    text-align: center;
    border-bottom: 5px red;
    color: red;
    border-bottom: red double 20px ;
    margin:  100px 150px 70px 150px ;
}
.Item{
    color: black;
    font-size: larger;
    font-weight: 600;
    margin: 15px 5px 30px 100px ;
    display: block;
}
.optional{
    display: inline-block;
    margin: 40px;
}